# Ignore secrets file
.streamlit/secrets.toml

# Ignore old code files
test_code/

# Ignore data files
draftsweep_data/

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore virtual environment
mastersvenv/

# Ignore pycache folder
__pycache__/