# Ignore secrets file
.streamlit/secrets.toml

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore pycache folder
__pycache__/

# Ignore entry list generator notebook
entry_list/entry_list_generator.ipynb